.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.app__profile-item {
  width: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  min-height: 170px;
  img {
    border-radius: 15px;
    object-fit: cover;
  }
  @media screen and (min-width: 1201px) {
    width: 380px;
    min-height: 340px;
    margin: 2rem 4rem;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    min-height: 340px;
    margin: 1rem 2rem;
  }
}
